*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8f5e9;
    
}
#projects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-size: 5rem;
}
.items{
    width: 60%;
    margin:40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.item{
    border: 2px solid #007bff;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    cursor: pointer;
    border-radius: 30px;
    white-space: nowrap;
    transition: 0.4s ease;
}
.item:hover{
    background-color: #007bff;
    color: #fff;
}
.gallery{
    display: grid; /*jis sy rows sy  column m arrange hoty hen */
    grid-template-columns: repeat(3,1fr);/*Yeh property 3 columns banata hai repeat(3) ka matlab hai 3 columns.
    1fr ka matlab hai 1 fraction equal width ke columns.*/
    gap: 20px;
}
.project-img{
    position: relative; /* For better control of inner elements.*/
    border-radius: 15px;
    overflow: hidden;/*Yeh btata hai ke agar image ka koi part div ke bahar ja raha hai, to wo hide ho jaye.*/
    box-shadow: 0 0 4px rgba(175, 175, 175, 0.4);
    animation: galAnimation 0.4s ease;
    border: 2px solid #007bff;
}
@keyframes galAnimation {
    0%{
        transform: scale(0);
    }   
    100%{
        transform: scale(1);
    }
}

.project-img:hover img{
    transform: scale(1.1); /*Iska matlab hai image ko 10% zoom-in karna */
}
img{
    width: 100%;
    height: 100%;
    display: block;
    /* object-fit: cover;  */
    transition: 0.4 ease; 
} 

